<!DOCTYPE html>
<html>
  <head>
    <title><%= Fazbook %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <div>
      <a href="/users/new">Create a user</a>
    </div>
    <% users.forEach(function(user) { %>
      <div>
        <a href="/users/new">Create a user</a>
      </div>
      <% users.forEach(function(user) { %>
        <div>
          <a href="<%= '/users/' + user.id %>">
            <%= user.firstName %>
          </a>
        </div>
      <% }) %>
    </body>
  </html>


<!-- each span represents a in input field for user information, iterated through via the forEach loop. -->
