<!DOCTYPE html>
<html>
  <head>
    <title>Fazbook - Create User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a new user</h1>
    <form action="/users" method="POST">
      <div>
        <label>
          Email
            <input type="text" name="email" />
        </label>
      </div>
      <div>
        <label>
          First name
            <input type="text" name="firstName" />
        </label>
      </div>
      <div>
        <label>
          Last Name
            <input type="text" name="lastName" />
        </label>
      </div>
      <div>
        <label>
          Date of Birth
            <input type="date" name="dob" />
        </label>
      </div>

      <a href="/users">Cancel</a>
      <input type="submit" value="Create user" />
    </form>
  </body>
</html>
